#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Learn about different categories of Data Science tools
- Introduction to languages for Data Science like R & Python
- Learn about Jupyter Lab, Jupyter Notebook, and Jupyter Lite
- Explain data visualization tools and techniques

Some of the popular languages that Data Scientists use are : 
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

Three development environment open source tools used in data science:

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Visual Studio Code       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [14]:
# This will convert 200 minutes to hours by diving by 60

200//60

3

## Author
MALIK MEHDI KENANE